html, body, main {
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
}

#carouselCS {
  position: relative;
  height: 200px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carouselCS div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carouselCS div img {
  width: 200px;
  transition: width 1s;
}
#carouselCS div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carouselCS div.hideLeft img {
  width: 100px;
}
#carouselCS div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carouselCS div.hideRight img {
  width: 100px;
}
#carouselCS div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carouselCS div.prev img {
  width: 100px;
}
#carouselCS div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carouselCS div.prevLeftSecond img {
  width: 100px;
}
#carouselCS div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carouselCS div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carouselCS div.next img {
  width: 100px;
}
#carouselCS div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carouselCS div.nextRightSecond img {
  width: 100px;
}

.buttons1 {
  position: relative;
  background-color: transparent;
  color: #000000;
  border-color: transparent;
  left: 6.5%;
  transform: translateX(-8%);
  bottom: 232px;
}
.buttons1:hover {
  position: relative;
  background-color: #000000;
  border-color: #333333;
  color: #ffffff;
  left: 6.5%;
  transform: translateX(-8%);
  bottom: 232px;
}

.buttons2 {
  position: relative;
  background-color: transparent;
  color: #000000;
  border-color: transparent;
  left: 90.5%;
  transform: translateX(-90.5%);
  bottom: 220px;
}
.buttons2:hover {
  position: relative;
  background-color: #000000;
  border-color: #333333;
  color: #ffffff;
  left: 90.5%;
  transform: translateX(-90.5%);
  bottom: 220px;
}



@media only screen and (max-width: 1000px) {
  #carouselCS {
  position: relative;
  height: 100px;
  top: 30%;
  transform: translateY(-30%);
  overflow: hidden;
}
#carouselCS div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carouselCS div img {
  width: 100px;
  transition: width 1s;
}
#carouselCS div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carouselCS div.hideLeft img {
  width: 75px;
}
#carouselCS div.hideRight {
  left: 50%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carouselCS div.hideRight img {
  width: 75px;
}
#carouselCS div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(16px) translateX(-30%);
}
#carouselCS div.prev img {
  width: 75px;
}
#carouselCS div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-1%);
  opacity: 0.7;
}
#carouselCS div.prevLeftSecond img {
  width: 50px;
}
#carouselCS div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(-2px) translateX(-38.5%);
}
#carouselCS div.next {
  text-align: center;
  z-index: 5;
  left: 70%;
  transform: translateY(16px) translateX(-40%);
  height: 20vh;
}
#carouselCS div.next img {
  text-align: center;
  width: 75px;
}
#carouselCS div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carouselCS div.nextRightSecond img {
  width: 50px;
}

.buttons1 {
  position: relative;
  background-color: transparent;
  color: #000000;
  border-color: transparent;
  left: 7%;
  transform: translateX(-8%);
  bottom: 100px;
}
.buttons1:hover {
  position: relative;
  background-color: #000000;
  border-color: #333333;
  color: #ffffff;
  left: 7%;
  transform: translateX(-8%);
  bottom: 100px;
}

.buttons2 {
  position: relative;
  background-color: transparent;
  color: #000000;
  border-color: transparent;
  left: 90.5%;
  transform: translateX(-90.5%);
  bottom: 100px;
}
.buttons2:hover {
  position: relative;
  background-color: #000000;
  border-color: #333333;
  color: #ffffff;
  left: 90.5%;
  transform: translateX(-90.5%);
  bottom: 100px;
}
}