

.ImgPerfil{
	width: 50px;
}
.DivPerfil{
	width: 3.5vw;
}

.Admin{
	display: flex;
	align-items: right;
}

.Admin img{
	width: 50px;
}


.NomeAdmin{
	width: 20vw;
	font-size: 15px;
	text-align: left;
}

.acoesAdmin{
	width: 
	align-items: right;
}
.sobreAdmin{
	width: 20vw;
}

.sobreAdmin h2{
	font-size: 20px;
}

.cadastraAdmin h2{
	font-size: 20px;
}

.cadastrarEditor{
	font-size: 20px;
}

.tabela{
	
	width: 22vw;
	height:25vh;
	font-size: 25px;
}